* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

/*ESTILIZAÇÃO DO HEADER - HTML */

.cabeçalho {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #fff; /* Cor de fundo do cabeçalho */
  padding: 0px 10px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.menu-hamburguer {
  font-size: 2.5rem;
  cursor: pointer;
  color: #b05b34;
  font-weight: bold;
  display: none;
}

@media (max-width: 1000px) {
  .menu-hamburguer {
    display: flex;
    align-self: center;
    padding: 20px 0px;
    margin-right: 50px;
  }

  .lista-do-cabeçalho li,
  .lista-do-cabeçalho,
  .lista-do-cabeçalho2,
  .lista-do-cabeçalho2 li {
    display: none;
  }
  .cabeçalho {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .imagem-cabeçalho {
    margin-left: 80px;
  }
  .section-das-imagens {
    position: absolute;
  }
  .imagem-principal-da-section {
    margin-top: 0px;
  }
  .ancora-cabeçalho {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0%;
    margin-left: 20px;
  }
}

@media (max-width: 970px) {
  .bloco-imagens-section,
  .bloco-imagens-section a {
    display: none;
  }
}

@media (max-width: 580px) {
  .menu-hamburguer {
    margin-left: 50px;
    font-size: 1.5rem;
  }
  .menu-navegacao li {
    line-height: 1.18rem;
  }

  .menu-navegacao li a {
    height: 0%;
    margin: 0;
    padding: 0;
  }
  .menu-navegacao ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  #esperanca {
    font-size: 1.45rem;
  }
  .cabeçalho {
    flex-wrap: nowrap;
    width: 100%;
  }
  .div-botão-cabeçalho a {
    margin-right: 10px;
    margin-top: 20px;
    font-size: 1rem;
    padding: 10px 20px;
  }

  .bloco-imagens-section a,
  .bloco-imagens-section {
    display: none;
  }

  .section-das-imagens {
    position: absolute;
    margin: 0px;
  }
  .div-botão-cabeçalho {
    padding-right: 60px;
  }
  .botao-cabecalho {
    display: flex;
    text-align: center;
  }

  .texto-quem-somos span p {
    font-size: 1rem;
  }
}

@media (max-width: 460px) {
  .menu-hamburguer {
    font-size: 1.3rem;
  }

  .cabeçalho {
    gap: 20px;
  }

  .ancora-cabeçalho {
    margin: 0px;
    padding: 0px;
  }

  .div-botão-cabeçalho {
    padding-left: 40px;
    margin-top: 0px;
  }
}

@media (max-width: 420px) {
  .span-bloco-de-contatos,
  .span-bloco-de-contatos p,
  .span-bloco-de-contatos strong,
  .span-bloco-de-contatos2,
  .span-bloco-de-contatos2 p,
  .span-bloco-de-contatos2 strong {
    font-size: 1rem;
  }
}

@media (max-width: 340px) {
  .cabeçalho {
    gap: 10px;
  }

  .texto-quem-somos span p {
    font-size: 0.3rem;
  }
}

@media (max-width: 320px) {
  .span-bloco-de-contatos,
  .span-bloco-de-contatos p,
  .span-bloco-de-contatos strong,
  .span-bloco-de-contatos2,
  .span-bloco-de-contatos2 p,
  .span-bloco-de-contatos2 strong {
    font-size: 0.6rem;
  }
}

@media (max-width: 300px) {
  .cabeçalho {
    gap: 0px;
  }

  .menu-hamburguer {
    margin: 0px;
    margin-left: 40px;
  }

  .ancora-cabeçalho {
    padding: 0px;
  }

  .ancora-cabeçalho img {
    width: 50px;
  }

  #esperanca {
    font-size: 1.25rem;
  }

  .texto-quem-somos span p {
    font-size: 0.1rem;
  }
}

@media (max-width: 215px) {
  .ancora-cabeçalho img {
    display: none;
  }

  .menu-hamburguer {
    padding-left: 15px;
  }
  .span-bloco-de-contatos,
  .span-bloco-de-contatos p,
  .span-bloco-de-contatos strong,
  .span-bloco-de-contatos2,
  .span-bloco-de-contatos2 p,
  .span-bloco-de-contatos2 strong {
    font-size: 0.4rem;
  }

  .rodapé span i,
  .rodapé p {
    font-size: 1rem;
  }
}

@media (max-width: 205px) {
  .botao-cabecalho {
    display: none;
  }

  .div-botão-cabeçalho {
    display: none;
  }
}

.menu-navegacao {
  display: none;
}

.menu-navegacao ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-navegacao li {
  padding-left: 10px;
}

.menu-navegacao a {
  text-decoration: none;

  color: #000;
  font-size: 1.5rem;
}

.imagem-cabeçalho {
  max-width: 120px;
  max-height: 120px;
  width: 120px;
}

.lista-do-cabeçalho {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 100px;
  margin-right: 50px;
}

.item-lista-cabeçalho strong {
  font-size: 1.25rem;
}

.item-lista-cabeçalho i {
  font-size: 1.5rem;
  color: black;
}

.ancoras-lista {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
}

.lista-do-cabeçalho2 {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}

.icones-cabeçalho {
  width: 35px;
}

.div-botão-cabeçalho {
  display: flex;
  align-items: center;
  justify-content: center;
}

.botao-cabecalho {
  padding: 15px 50px;
  background-color: rgba(119, 62, 4, 0.925);
  border-radius: 4px;
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1875rem;
}

.botao-cabecalho:hover {
  cursor: pointer;
  background-color: #ac6b40;
  transition: 0.5s;
}

.bloco-do-botão-cabeçalho {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

/*ESTILIZAÇÃO DA SECTION - HTML */

.section-das-imagens {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 110px;
}

.imagem-principal-da-section {
  width: 100vw;
  max-width: 100%;
}

.bloco-imagens-section {
  display: flex;
  position: absolute;
  bottom: -100px;
  gap: 50px;
  flex-wrap: wrap;
}

.imagens-section {
  width: 200px;
  max-width: 200px;
}

/*ESTILIZAÇÃO DA MAIN - HTML */

.principal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 40px;
}

.imagem-texto-principal {
  width: 100vw;
  max-width: 500px;
  padding-top: 65px;
}

.div-1-principal {
  width: 550px;
  height: 250px;
  text-align: center;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #b05b34;
  color: white;
}

.div-2-principal {
  text-align: center;
  padding-top: 70px;
  width: 650px;
}

.div-2-principal h2,
p {
  font-size: 22px;
}

.div-2-principal p {
  padding-top: 30px;
}

/*ESTILIZAÇÃO DO GRUPO DE NÚMEROS - HTML */

.video-ytb {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-ytb iframe {
  height: 100vh;
  width: 85vw;
  margin-top: 150px;
  max-width: 100%;
}

.grupo-de-números img {
  margin-top: 20px;
  width: 100%;
}

/*ESTILIZAÇÃO DE CONTATO E ENDEREÇO - HTML */

.bloco-de-contatos {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  gap: 100px;
  margin: 0 6rem;
  flex-wrap: wrap;
  max-width: 100%;
}

.span-bloco-de-contatos {
  background-color: #b05b34;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.span-bloco-de-contatos p {
  padding-top: 20px;
}

.span-bloco-de-contatos2 {
  background-color: #b05b34;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.span-bloco-de-contatos2 p {
  padding-top: 20px;
}

/*ESTILIZAÇÃO DO FOOTER*/

.rodapé {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-top: 100px;
  margin-bottom: 1.5rem;
}

.rodapé span {
  display: flex;
  gap: 2rem;
}

@media (max-width: 800px) {
  .rodapé {
    flex-direction: column;
  }
}

.rodapé p {
  font-size: 1rem;
}

.rodapé i {
  font-size: 1.5rem;
  color: black;
}

@media (max-width: 190px) {
  .rodapé span {
    display: flex;
    flex-direction: column;
  }

  .rodapé p {
    font-size: 0.8rem;
    margin-left: 6px;
  }

  .div-botão-cabeçalho {
    display: none;
  }

  .menu-hamburguer {
    margin-left: 20px;
  }

  .bloco-de-contatos {
    margin: 0;
  }
}

/*Quem somos*/

.texto-quem-somos {
  padding: 0px 60px;
}

.texto-quem-somos h2 {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
  color: #ac6b40;
  font-weight: bold;
  font-size: 2.5rem;
}

.texto-quem-somos span {
  font-size: 1.125rem;
}

.texto-quem-somos p {
  color: black;
  font-weight: bold;
  text-align: justify;
}

/*Carrossel*/
.carousel-container {
  position: relative;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  margin-top: 0.5rem;
  display: none;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 4px;
}

.carousel img {
  max-width: 43%;
  height: auto;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

@media (max-width: 970px) {
  .carousel-container {
    display: block;
  }
}
